.user-table {
    table-layout: fixed;
    th {
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
    }
    tr {
        &:hover {
            background: #f5f5f5;
            cursor: pointer;
        }
        &.active {
            color: #fff;
            background: #007bff;
        }
    }
}
.carrot {
    display: inline-block;
    height: 21px;
    vertical-align: middle;
    padding-left: 5px;
    i {
        vertical-align: text-top;
    }
}